# yaml-language-server:$schema=https://json.schemastore.org/github-workflow.json
# https://docs.github.com/en/actions/writing-workflows
name: Pull Request

# yamllint disable-line rule:truthy
on: [ pull_request ]

permissions:
  checks: write
  contents: read
  issues: read
  packages: write
  pull-requests: write

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Extract Tool Versions
        id: tool-versions
        run: |
          python_version=$(grep -F 'python' .mise.toml | cut -d '=' -f2 | xargs)
          echo "python_version=${python_version}" >> "$GITHUB_OUTPUT"
      - name: Set up Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: ${{ steps.tool-versions.outputs.python_version }}
      - name: Install Dependencies
        run: pip install -r requirements.txt
      - name: Generate Site
        run: mkdocs build
